.App {

}

.side-bar {
  display: inline-block;
  position: fixed;
  height: 100vh;
  min-width: 25%;
  max-width: 25%;
  background-color: #DFDFDF;
  padding: 0px 0px;
}

.side-bar-head {
  vertical-align: middle;
  height: 100px;
  padding-left: 40px;
}

h1 {
  font-size: 2.4rem;
  display: inline-block;
}

.room-list {
  padding-left: 40px;
}

button.add-room {
  display: inline-block;
  margin: 20px 0px 0px 20px;
  position: absolute;
  top: 25px;
  font-size: 1rem;
  color: #777777;
  background-color: #FFF;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 250ms;
}

button.add-room:hover {
  background-color: #EEEEEE;
  color: #333333;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.room-item {
  display: block;
  margin: 10px 0px;
  padding: 10px 0px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 250ms;
}

.room-item:hover {
  color: #888888;
}

.add-room-modal {
  position: fixed;
  top:50%;
  left:50%;
  background-color: #BCBCBC;
  padding: 20px;
  min-width: 250px;
  transform: translate(-50%,-80%);
  text-align: center;
}

.form-text {
  display: block;
  margin: auto;
  width: 80%;
}

.form-button {
  display: inline-block;
  margin: 10px;
  font-size: 1rem;
  color: #777777;
  background-color: #FFF;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 250ms;
}

.form-button:hover {
  background-color: #EEEEEE;
  color: #333333;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.room-title {
  display: block;
  width: 75%;
  max-width: 75%;
  padding: 0px 30px;
  max-height: 70px;
  margin: auto;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 99;
}

.messages {
  display: inline-block;
  position: absolute;
  min-width: 75%;
  max-width: 75%;
  height: 100vh;
  left: 25%;
}

.message {
  display: block;
  min-height: 50px;
  padding: 10px 30px;
  position: relative;
  top: 70px;
}

.message-text {
  margin: 0px;
}

.username {
  font-weight: bold;
  font-size: 1rem;
  display: block;
}

.content {
  display: inline-block;
  font-size: 0.9rem;
}

.sent-at {
  display: inline-block;
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
  font-style: italic;
  color: #777777;
}
