.App {

}

.side-bar {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background-color: #DFDFDF;
  padding: 0px 40px;
}

h1 {
  font-size: 3rem;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li.room-item {
  margin: 10px 0px;
  padding: 10px 0px;
  font-size: 1.2rem;
}
